<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/index.css" rel="stylesheet">
</head>

<body>
    <ul>
    <% if(typeof errors != 'undefined'){    %>
        <% for(var index in errors){ %>
        <li> <%= errors[index].error%></li>
    <% }} %>
    </ul>
    
    <form action="/quotes" method="post">
        Name: <input type="text" name="name">
        <br> Quote: <input type="text" name="quote">
        <button type="sumbit">SUBMIT!!!</button>
    </form>
        <a href="/quotes">Just see quotes</a>
</body>


</html>