<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/quotes.css" rel="stylesheet">
    </head>
    <body>
<br>
<br>
<table>
    <%if(typeof quotes != 'undefined'){%>
        <% for (var index in quotes){ %>
            <tr>
                <td>
                <%=quotes[index].quote%>
                </td>
                </tr>
                <tr>
                <td>
                <span><i>-<%=quotes[index].name%> at <%=quotes[index].date%></i><span>
                </td>
            </tr>
            <td>
            <hr>
            </td>
            <%}%>
                <%}%>
</table>
    </body>
</html>